<a href="https://colab.research.google.com/github/karisuma23/ai/blob/main/01HW20220125%EB%82%98%EA%B8%B0%EC%97%8515.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#001  
print('Hello world')

Hello world

In [ ]:
#002 
print("mary's cosmetics")
print('mary\'s cosmetics')

mary's cosmetics
mary's cosmetics

In [ ]:
#003
print('신씨가 소리질렀다.' "도둑이야.")
print("신씨가 소리질렀다. \"도둑이야\".")

신씨가 소리질렀다.도둑이야.
신씨가 소리질렀다. "도둑이야".

In [ ]:
#004
print('"c:\windows\"')

"c:\windows"

In [ ]:
#005 
print("안녕하세요.\n만나서\t\t 반갑습니다.")

# \n = 줄바꿈
# \t = 동일한 간격의 띄어쓰기

안녕하세요.
만나서		 반갑습니다.

In [ ]:
#006 
print("오늘은","일요일")

오늘은 일요일

In [ ]:
#007

print('naver','kakao','sk','samsung', sep = ';' )

naver;kakao;sk;samsung

In [ ]:
#008
print('naver','kakao','samsung', sep = '/' )

naver/kakao/samsung

In [ ]:
#009
print('first',end=';')
print('second')

first;second

In [ ]:
#010
n = round(5/3,2)
print (n)

1.67

In [ ]:
#011
samsung = 50000 
avg = 50000 *10 

print("총 평가 금액 : " , avg)

총 평가 금액 :  500000

In [ ]:
#012
sum = '298 조'
now = '50,000 원'
PER = 15.79

In [ ]:
#013
s = 'hello'
t = 'python'

print('%s! %s' % (s,t))

hello! python

In [ ]:
#014

print(2 + 2 * 3)
# - 괄호안의 숫자들은 사칙연산 순서대로 진행된다

8

In [ ]:
#015

a = '132'

print(type(a))

<class 'str'>

In [ ]:
#016

num_str = '720' 

n = int(num_str)

print(n, type(n))

720 <class 'int'>

In [ ]:
#017

num = 100

n = str(num)

print(n, type(n))

100 <class 'str'>

In [ ]:
#018

num = '15.79'

n= float(num)

print(n, type(n))

15.79 <class 'float'>

In [ ]:
#019

year= '2020'
year1 = '2021'
year2 = '2022'

a = int(year)
b = int(year1)
c = int(year2)

print('최근 3년의 연도 : %d %d %d' % (a,b,c))

print(f'최근 3년의 연도 : {a} {b} {c}')

print('최근 3년의 연도 : {} {} {}'.format(a,b,c))

print('최근 3년의 연도 :',a,b,c)

print(a, type(a))
print(b, type(b))
print(c, type(c))

최근 3년의 연도 : 2020 2021 2022
최근 3년의 연도 : 2020 2021 2022
최근 3년의 연도 : 2020 2021 2022
최근 3년의 연도 : 2020 2021 2022
2020 <class 'int'>
2021 <class 'int'>
2022 <class 'int'>

In [ ]:
#020

month = 36
sum = int(48584)
total = (sum*month) 
print('총 금액 : ' ,total , '원입니다')

총 금액 :  1749024 원입니다