<a href="https://colab.research.google.com/github/karisuma23/ai/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#############
# 주석 comment  
#############
''' 작성자 : 나기업
    작성일 : 2022- 01-25
    버전 : 0.1
    Doc String 
'''


"""
 작성자 : 나기업
    작성일 : 2022- 01-25
    버전 : 0.1 
"""


# 보통 삼중 따옴표 주석은 
# 여러줄을 주석으로 사용할 때 
# 사용한다. 


# 주석 붙이는 위치 

# print('hello world') # 보통 행의 우측 또는 위에 주석을 붙인다.

'\n 작성자 : 나기업\n    작성일 : 2022- 01-25\n    버전 : 0.1 \n'

In [ ]:
#############
# 변수 variable  
#############

score = 200 

print(score)

score = 300 

print(score)

In [ ]:
a = 1
A = 2

print(a)
print(A)

In [13]:
a1 = 'h1'
print(A1)

h1

In [ ]:
1a = 'hi'
print(1a)

In [ ]:
a = 20 
b = 1500 

student_avg = 20
math_sum = 1500

In [14]:
 name = 'Alice'
 age = 25
 address = '''우편번호12345
 서울시 영등포구 여의도동
 서울빌딩 501호'''
 boyfriend = None
 height = 168.5

 print(name)
 print(age)
 print(address)
 print(boyfriend)
 print(height)

Alice
25
우편번호12345
서울시 영등포구 여의도동
서울빌딩 501호
None
168.5

In [ ]:
#############
#기본 자료형 type   
#############

a = int(1.9)
print(a)

b = int(True)
print(b)

c = int(False)
print(c)

d = int('100')
print(d)

In [22]:
a = 100
b = '100'

print(type(a))
print(type(b))

print(a)
print(b)
print(a==b)

c = int(b)
print(type(c))
print(a==c)

<class 'int'>
<class 'str'>
100
100
False
<class 'int'>
True

In [ ]:
# 실수 float 

a = float(1)
print(a)

b = float(True)
print(b)

c = float('3.14')
print(c)

d= float('100')
print(d)

In [39]:
#  boolean 논리 true or false

a = bool(0)
print(a)

b = bool()
print(b)

c = bool([])
print(c)

d = bool([100])
print(d)

False
False
False
True

In [43]:
##################
# 문자열 String
#################

a = '대한민국'
b = "대한민국"

b = str(100)
print(b)
print(type(b))

c = str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [55]:
# 문자열 인덱싱

# hello 파이썬은 0에서 시작한다 : 0~4 

s = 'hello'
print(s[4])
print(s[-5]==s[0])
print(s[0:3])

ss ='900212-1222341'

print(ss[7])

o
True
hel
1

In [ ]:
# 슬라이스 인덱싱
ss ='900212-1222341'
print(ss[0:2]) # 0번부터 1번까지 
print(ss[0:2]) # step은 생략가능
print(ss[0:10:2])

In [ ]:
#print 

print('Hello 'world')

In [56]:
print("Hello 'world'")

Hello 'world'

In [61]:
print('Hello \'world\'')
print("Hello \"world\"")
print('Hello \'world\"')

Hello 'world'
Hello "world"
Hello 'world"

In [64]:
print("Hello\n \"world\"")

Hello
 "world"

In [66]:
print('이름 \n전화')

이름
전화

In [68]:
print('이름\t연락처')
print('홍길동\t010-2020-2903')

이름	연락처
홍길동	010-2020-2903

In [69]:
print('재미있는 ',' 파이썬')

재미있는   파이썬

In [72]:
print('평점',end=':')
print('5점')

평점:5점

In [ ]:
print('국어','영어','수학')
print('국어','영어','수학', sep = '/' )
print('국어','영어','수학', sep = ',')
print('국어','영어','수학', sep = '\n')
print('\n국어\n영어\n수학')

In [92]:
# %연산자 

print(10)
print('%d' % 10)  # %d decimal 정수
print('%f' % 3.14)  # %f float 실수
print('%s' % '학생') # %s String 문자열 

print('%d 을 입력하세요' % 10)
print('%s 을 입력하세요' % 10)  
print('원주율은 %f 입니다 ' % 3.14)  
print('원주율은 %s 입니다 ' % 3.14)  
std = '고등학생'
print('저는 %s 입니다 '  % std) 
print('저는', std, '입니다')

10
10
3.140000
학생
10 을 입력하세요
10 을 입력하세요
원주율은 3.140000 입니다
원주율은 3.14 입니다
저는 고등학생 입니다
저는 고등학생 입니다

In [98]:
print("%d" % 1 )
print("%5d" % 1 ) # 5자리를 확보해서 오른쪽에 찍어라 
print("%-5d" % 1 ) 
print("%5d" % 11 )
print("%-5d" % 11 )

1
    1
1
   11
11

In [105]:
print('원주율은 %f 입니다' % 3.14)
print('원주율은 %5.1f 입니다' % 3.14)
print('원주율은 %-5.1f 입니다' % 3.14)
print('원주율은 %.2f 입니다' % 3.14)

원주율은 3.140000 입니다
원주율은   3.1 입니다
원주율은 3.1   입니다
원주율은 3.14 입니다

In [107]:
name = 'kai'
print('내이름은 %s 입니다' % name)

내이름은 kai 입니다

In [119]:
height = 185.5
print('내 키는 %.1f' % height)
print('내 키는 %s' % height)
print('내 키는 %s이고 이름은 %s입니다' %(height,name))
print('내 키는 {}이고 이름은 {}입니다' .format(height,name))

내 키는 185.5
내 키는 185.5
내 키는 185.5이고 이름은 kai입니다
내 키는 185.5이고 이름은 kai입니다

In [125]:
#format() 

zipcode = '06236'
print('우편번호 : %s' % zipcode)
print('우편번호 : {}'.format(zipcode))
print(f'우편번호 : {zipcode}')

우편번호 : 06236
우편번호 : 06236
우편번호 : 06236

In [128]:
print('My name is {}. I\'m {} years old'.format('james',25))
print('My name is {1}. I\'m {0} years old'.format(25,'james'))
print('My name is {name}. I\'m {age} years old'.format(age = 25,name = 'james'))

My name is james. I'm 25 years old
My name is james. I'm 25 years old
My name is james. I'm 25 years old
My name is kai. I'm 25 years old

In [129]:
#f-strings
# 파이썬 3.6 이후 부터 사용 가능

who = 'you'
how = 'happy'
print(f'{who} make me {how}')

you make me happy

In [131]:
age = 29
print(f'내년에는 {age + 1} 입니다')

내년에는 30 입니다

In [141]:
##################
# 입력 input()  
################

n = input('당신의 나이를 입력하세요')
print(f'당신이 나이는 {n} 입니다 ')
print('당신이 나이는', n ,'입니다')

당신의 나이를 입력하세요 20
당신이 나이는  20 입니다
당신이 나이는  20 입니다

In [179]:
name = input('당신의 이름을 입력하세요')
age = int(input('당신의 나이를 입력하세요'))

# 1 기본 
print('당신의 이름은',name,'이고  당신의 나이는',age,' 입니다.')

#2 f-stirng
print(f'당신의 이름은 {name} 이고 당신의 나이는 {age} 입니다')

#3 format()
print('당신의 이름은 {} 이고 당신의 나이는 {} 입니다.'.format(name,age))

#4 % 연산자 
print('당신의 이름은 %s이고 나이는  %d입니다.' % (name,age))

print(name, type(name))
print(age, type(age))

당신의 이름을 입력하세요 나기업
당신의 나이를 입력하세요 29
당신의 이름은  나기업 이고  나이는 29  입니다.
당신의 이름은  나기업 이고 당신의 나이는 29 입니다
당신의 이름은  나기업 이고 당신의 나이는 29 입니다.
당신의 이름은  나기업이고 나이는  29입니다.
 나기업 <class 'str'>
29 <class 'int'>

In [ ]:
month = int(input('할부 개월 입력 : '))
sum = 50000
price = round(sum / month.2)

# 1 기본
print(month ,'개월 동안 매달 내는 금액은' ,price,  '원입니다')
#2 f-stirng
print(f'{month} 개월 동안 매달 내는 금액은 {price}  원입니다 ')
#3 format()
print('{}개월 동안 매달 내는 금액은{}원 입니다'.format(month,price))
#4 % 연산자 
print('%d개월 동안 매달내는 금액은%s원 입니다' %(month,price))

In [174]:
a = float(input('실수 1 의 값을 입력하시오 :' ))
b = float(input('실수 2의 값을 입력하시오: '))
sum = a + b
print(f'실수 {a} 과 실수 {b}의 합계는 {sum}입니다')

실수 1 의 값을 입력하시오 :1.0
실수 2의 값을 입력하시오: 2.0
실수 1.0 과 실수 2.0의 합계는 3.0입니다