In [53]:
print('Hello Python Programing')
print('52')

Hello Python Programing
52

In [54]:
print(52,11,'world')

52 11 world

In [55]:
print('Hello world')
print()
print(1,2,3,4,5)

Hello world

1 2 3 4 5

In [56]:
# 주석은 컴퓨터는 읽지 않는다
print('한글사용') # 주석은 코드에 대한 설명을 표현한다.

한글사용

In [57]:
# 기본자료형

# 문자열 String  '안녕', Hello'
# 숫자 int 1,2,3,4,5
# 논리(불) boolean True, False 

print(type('안녕'))
print(type("안녕"))
print(type(123))
print('"안녕"이라고 했다')
print("'안녕'이라고 했다")
print("\"안녕\"이라고 했다") # 이스케이프 문자 escape character
print()

<class 'str'>
<class 'str'>
<class 'int'>
"안녕"이라고 했다
'안녕'이라고 했다
"안녕"이라고 했다

In [58]:
print('이름\t나이\t지역')
print('김현아\t20\t강남구')
print('오철수\t25\t서초구')

이름	나이	지역
김현아	20	강남구
오철수	25	서초구

In [59]:
print('Hello \nworld')

Hello
world

In [60]:
print('안녕'+'하세요')
print('안녕','하세요')

안녕하세요
안녕 하세요

In [61]:
print('-' *30)

------------------------------

In [62]:
print('-'+ 5)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#문자열에서 인덱싱 (문자 하나를 선택)

print('안녕하세요'[0])
print('안녕하세요'[1])      
print('안녕하세요'[2])
print('안녕하세요'[3])
print('안녕하세요'[4])

In [ ]:
print('안녕하세요'[-1])
print('안녕하세요'[-2])      
print('안녕하세요'[-3])
print('안녕하세요'[-4])
print('안녕하세요'[-5])

In [ ]:
# 문자열에서으 슬라이싱 (문자열에서 여러 글자 선택)

print('안녕하세요'[1:4]) # [1부터 4 미만]
print('안녕하세요'[1:]) 
print('안녕하세요'[:3])
print('안녕하세요'[:])

In [ ]:
print('안녕하세요'[9])

In [ ]:
print(len('안녕하세요')) # 길이는 1에서 시작한다....

In [ ]:
# 조건문 

# bool & if


print(True)

In [ ]:
print(10 ==100)
print(10 != 100)
print(10 > 100)
print(10 >= 100)

In [ ]:
print("가방" == "가방")
print("가방" == "백")
print("가방" != "백")
print("가방" > "백") # 한글은 사전 순서(가나다순)
print("가방" < "백")

In [105]:
# if 조건문....
# 조건에 따라 특정 코드를 실행하거나 특정 코드를 실행하지 않게 만들고 싶을떄 사용
# 코드의 실행 흐름을 변경시키는 것을 조건 분기라고 부른다.

num = int(input('정수를 입력하세요 >>'))

if num > 0: 
 print('양수입니다')

if num < 0 :
 print('음수입니다')

if num == 0 :
 print('0입니다')

정수를 입력하세요 >>2
양수입니다

In [106]:
# 날짜/시간과 관련된 기능을 가져온다
import datetime 

# 현재의 날짜와 시간을 구하는 함수
now = datetime.datetime.now()

print(now)
print(now.year,'년')
print(now.month,'월')
print(now.day,'일')
print(now.hour)
print(now.minute)
print(now.second)

2022-01-28 15:40:05.804739
2022 년
1 월
28 일
15
40
5

In [107]:
#현재 시각은 14시로 오후입니다


if now.hour <12:
    m = "오전"
if now.hour > 12:
    m = "오후"
    print(f'현재 시각은 {now.hour}시 {now.minute}분 {m} 입니다.')

현재 시각은 15시 40분 오후 입니다.

In [ ]:
# 12,1,2, 겨울 3,4,5, 봄, 6,7,8 여름 9,10,11, 가을
# 이번 달은 1월로 겨울입니다.
# if 만 사용하세요

In [64]:
if 3 <= now.month  <=5:
    sea ='봄'
if 6 <= now.month <=8 :
    sea ='여름'
if 9 <= now.month <= 11:
    sea ='가을'
if now.month == 12 or 1 <=now.month <=2:
    sea ='겨울'
    
print(f'이번달은 {now.month}월로 {sea}입니다')

이번달은 1월로 겨울입니다

In [104]:
# % 연산자를 사용하지 않고
# 정수를 입력 받아 그 수가 짝수 인지 홀수 인지를 알려주는 프로그램을 작성하세요 

number = input("정수를 입력하세요 :")

if number[-1] in "02468":  
    print('짝수 입니다')

if number[-1] in "13579":
    
    print('홀수 입니다')

정수를 입력하세요 :13
홀수 입니다

In [49]:
# pass 

number = int(input('정수 입력'))

if number > 0:
    pass
else :
    pass

정수 입력2

In [101]:
# 리스트와 반복문

li = [1,2,3,4,5] # collection. mutable, ordered

for i in li:
    
    if i >=3:
        print(i)

3
4
5

In [85]:
# 딕셔너리와 반복문

dict = {
    1:'홍길동',
    2:'이몽룡'    
}

In [83]:
print(dict[1])

홍길동

In [90]:
for i in dict:
    print(i,dict[i])

1 홍길동
2 이몽룡

In [94]:
list(range(0,5,2)) # 시작을 생략하면 0 부터 5미만 까지 증감값을 생략하면 1씩 증가

[0, 2, 4]

In [ ]:
#for : 반복횟수를 정확히 알고 있을 떄 주로 사용
# while : 반복횟수를 정확히 알수없을 떄 주로 사용


while 1, for 1

0번쨰 반복  
1번째 반복
2번째 반복

In [111]:

for i in range(2,-1,-1): 
   print(f'{i}번쨰 반복')

# i = 0
# while i < 3:
#     print(f'{i}번쨰 반복')
#     i += 1

2번쨰 반복
1번쨰 반복
0번쨰 반복

In [ ]:
# break / continue

# break 반복문 종료 

i=1

while True :
    print(f'{i}번쨰 반복입니다')
    i+=1
    
    inp = input('종료할까요? y or n')
#    if esc in['y','Y'] :   
    if esc in ['Y','y'] :
         print('반복을 종료합니다.')
         break

1번쨰 반복입니다
종료할까요(y)>>n
2번쨰 반복입니다
종료할까요(y)>>3
3번쨰 반복입니다
종료할까요(y)>>4
4번쨰 반복입니다
종료할까요(y)>>5
5번쨰 반복입니다
종료할까요(y)>>6
6번쨰 반복입니다
종료할까요(y)>>y

In [14]:
# continue 현재 반복을 중지하고  다음 반복으로 넘어갈때 사용 
# 전체 반복에서 부분을 뺴고 일부만 실행 할떄 사용

for num in range(1,11):
    if num % 2 == 0:
        continue 
    print(num)

1
3
5
7
9

In [13]:
# enumerate() 

# 0번 진구
# 1번 철수 
# 2번 미애 
# 3번 형구
# 4번 진수 

student = ['진구','철수','미애','형구','진수']

# no= 0
# for name in student: 
#     print(f'{no}번쨰 {name}친구')
#     no += 1

for no,name in enumerate(student): 
     print(f'{no+1}번 {name}')

1번 진구
2번 철수
3번 미애
4번 형구
5번 진수

In [15]:
#items() 딕셔너리는 items() 함수를 사용하여 key와 value 값을
# 한번 추출할 수 있다.

dict = {
    '홍길동':185,
    '이몽룡':189,
    '성춘향':168
}

# 홍길동의 키는 185입니다


for i in dict:
    print(f'{i}의 키는 {dict[i]}입니다.')

for n,h in dict.items(): 
     print(f'{n}의 키는{h}입니다')

홍길동의 키는 185입니다.
이몽룡의 키는 189입니다.
성춘향의 키는 168입니다.
홍길동의 키는185입니다
이몽룡의 키는189입니다
성춘향의 키는168입니다

In [1]:
#리스트 내포 list comprehensions


array = []

for i in range(0,20,2):
    array.append(i)
    
array

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [22]:
array = [ i  for i in range(0,20,2)  ]
print(array)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
array = ['사과','체리','바나나','과자']

output = [    i   for i in array    if i!='과자']

print(output)

['사과', '체리', '바나나']